*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,Tahoma,Geneva,Verdana,sans-serif;
}

body{
    background:#eef3f8;
}

.dashboard{
    width:95%;
    margin:auto;
    padding:25px;
}